*{
	box-sizing: border-box;
	--bs-gutter-x: 0rem !important;
}

body {
    background-color: #0a0a0a;
    color: white;
}

a,
a:hover,
button.btn,
button.btn:hover{
    text-decoration: none;
}

.login-form {
    background-color: #191919;
    color: white;
    border: none;
    box-shadow: #101010 0px 5px 10px;
    padding: 20px 40px 20px 40px;
}

.loading-bg {
    background-color: #0a0a0a;
    color: white;
    width: 100%;
    height: 100%;
    position: fixed;
}

.loading-icon {
    text-align: center;
    width: 100%;
    height: 100%;
}

.loading-icon .rli-d-i-b.OP-annulus-sector-track-indicator {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    font-size: 150%;
}

.rli-d-i-b.rli-text-format.OP-annulus-sector-text {
    font-size: 50%;
}

.login-form input,
.login-form label {
    margin: 5px;
}

.login-button-container,
.new-checklist-button-container {
    text-align: center;
    margin: 20px 0px 0px 0px;
}

.login-button,
.new-checklist-button,
.btn-primary{
    background-color: #191919;
    color: #1b9a3f;
    border: 2px solid #1b9a3f;
    border-radius: 10px;
    padding: 2px 7px 2px 7px;
}

.btn-secondary{
    background-color: #111111;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 2px 7px 2px 7px;
}

.login-button:hover,
.new-checklist-button:hover,
.btn-primary:hover{
    background-color: #1b9a3f;
    color: #191919;
}

.btn-secondary:hover{
    background-color: white;
    color: #111111;
}

.accordion {
    margin: 10px;
}

.accordion-header {
    border-radius: 20px;
}

.accordion-item.no-border.collapse-item {
    border: 0px;
    border-radius: 20px;
}

.accordion-header,
.accordion-button.btn.btn-link{
    background-color: #101010;
    color: white;
    padding: 20px;
    box-shadow: none;
}

.accordion-item {
    background-color: #101010;
    color: white;
}

.accordion-button {
    text-decoration: none;
    color: white !important;
    display: block;
}

.accordion-item .progress {
    background-color: #31313a;
    height: 4px;
    margin: 0px 20px 0px 20px;
}

.accordion-item .progress-bar {
    background-color: #e9781a;
}

.accordion-item .progress-bar.completed {
    background-color: #1b9a3f;
}

.list-group-item {
    background-color: #111111;
    color: white;
    border: none;
}

.accordion-body {
    overflow-y: scroll;
    max-height: 500px;
}

.list-group {
    border: 1px solid #191919;
}

.form-check-input:checked {
    background-color: #1b9a3f;
    border: none;
}

.checklist-name {
    width: 100%;
}

.checklist-status {
    text-align: right;
    width: 100%;
}

.checklist-status-label {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.checklist-status-label.in-progress {
    background-color: #1b190c;
    border: 3px solid #c2612e;
    border-radius: 50%;
    font-size: 150%;
}

.checklist-status-label.completed {
    background-color: #1b9a3f;
    border: 3px solid #1b9a3f;
    border-radius: 50%;
    color: #101012;
    font-size: 150%;
}

.checklist-status-label.completed i {
    position: relative;
    top: -9px;
    left: -3px;
}

.task-name.checked {
    color: #1b9a3f;
}

.error-element {
    border-radius: 32px;
    background-color: #191919;
    padding: 50px;
}

.error-image {
    width: 35%;
}

.error-element h4 {
    font-weight: lighter;
}

.sidebar {
    background-color: #323234;
    position: fixed;
    height: 100%;
    padding: 0;
}

.edit-modal-bg {
    background-color: #0a0a0a;
    opacity: 90%;
}

.edit-modal {
    background-color: #323234;
    border: none;
}

.modal-content {
    border-radius: 50%;
}

.manage-checklists,
.manage-tasks,
.manage-users {
    padding: 20px;
}

.sidebar i {
    font-size: 150%;
    color: #757577;
}

.sidebar-option,
.sidebar-title {
    color: white;
    padding: 10px 20px 10px 20px;
}

.sidebar-option:hover {
    background-color: #0a0a0a;
}

.checklist-table i,
.add-task-btn {
    color: white;
}

.checklist-table.row:hover {
    background-color: #31313a;
}

.checklist-item,
.tasklist-item {
    padding: 20px;
}

.task-table,
.checklists-table {
    overflow: auto;
    max-height: 500px;
}

.task-table {
    padding-left: 200px;
}

.add-new-task-input,
.add-new-checklist-input {
    width: 100%;
}

.add-new-task-button,
.add-new-checklist-button {
    margin: -10px 0px 0px -10px;
}

.task-category,
.checklist-category,
.user-role-label {
    text-align: center;
}

.checklist-category-label {
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
    font-size: 80%;
    &.label-trip {
        background-color: #002f0c;
        color: #26ab00;
        border: 1px solid #26ab00;
    }
    &.label-hospital {
        background-color: #450000;
        color: #e30000;
        border: 1px solid #e30000;
    }
}

.task-category-label {
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
    font-size: 80%;
    &.label-work {
        background-color: #451900;
        color: #ff5e00;
        border: 1px solid #ff5e00;
    }
    &.label-entertainment {
        background-color: #002629;
        color: #00eeff;
        border: 1px solid #00eeff;
    }
    &.label-medicine {
        background-color: #450022;
        color: #e30071;
        border: 1px solid #e30071;
    }
}

.user-role {
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
    font-size: 80%;

    &.user-role-admin {
        background-color: #451900;
        color: #ff5e00;
        border: 1px solid #ff5e00;
    }

    &.user-role-user {
        background-color: #001c45;
        color: #0072e3;
        border: 1px solid #0072e3;
    }
}

.edit-link i {
    padding: 0 10px 0 10px;
}

.admin-icon {
    text-align: center;
}

.admin-icon i{
    font-size: 200%;
    color: white;
}